<body class="content">
  <section class="insert-image">
  </section>
  <article class="container">
    <h1 class="content-title">Оглавление</h1>
    <hr class="hr">
    <div class="alphabet">
      <%= link_to "по алфавиту", contents_path(sort_by: "title") %> |
      <%= link_to "не по алфавиту", contents_path %>
    </div>
    <table class="content-table">
      <% @contents.each do |content| %>
      <tr>
        <td class="content-table-title"><%= link_to content.title, [content], class: "content-name" %></td>
        <td><%= button_to 'Править', [:edit, content], method: 'get', class: 'content-button' %></td>
        <td>
          <%= button_to 'Удалить', [content], method: 'delete', data: { confirm: 'Вы уверены, что хотите удалить этот элемент?'}, class: 'content-button' %>
        </td>
      </tr>
      <% end %>
    </table>
    <div class="content-add"><%= link_to "Добавить в оглавление", new_content_path %></div>
  </article>
</body>