<div class = "form">
  <%= form_with model: @recipe, url: content_dish_recipe_path do |form| %>
    <p>
      <%= form.label :Ингредиенты %>:<br>
      <%= form.text_area :ingredients, autofocus: true %>
    </p>
    <p>
      <%= form.label :Инструкция_приготовления %>:<br>
      <%= form.text_area :cooking_method %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>